<a href="https://colab.research.google.com/github/SundayOni/House_Price_Prediction/blob/main/House_Price_Prediction_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
 # Import dataset
file_path = "/content/drive/MyDrive/UoB Datasets/housing_zoopla_dec_jan.csv"
df = pd.read_csv(file_path, sep='\t')

# 1. Pre-processing

### check first few rows of dataset

In [4]:
df.head()

,filename,rooms,isRetirementHome,isSharedOwnership,listingCondition,location,numBaths,numRecepts,outcode,postTownName,propertyType,tenure,ditsnace_to_school,ditsnace_to_train,text_description,features,price
0,62560735.html,3,False,False,pre-owned,Swillington,1.0,1.0,LS26,Leeds,detached,freehold,0.1,1.2,"'Summary Guide Price £290,000 - £300,000 This ...","'Guide Price £290,000 - £300,000 + Detached Fa...",290000
1,63504402.html,1,False,False,pre-owned,Horsforth,1.0,1.0,LS18,Leeds,terraced,freehold,0.4,0.5,'Ideal 1st home or investment! Spacious one do...,'Council Tax - A. EPC - C + Rare &amp; excitin...,160000
2,62183278.html,4,False,False,pre-owned,Huddersfield,3.0,2.0,HD5,Huddersfield,detached,freehold,0.3,0.3,'Dwellings Estate Agents are delighted to pres...,'A private cul-de-sac of only three homes + De...,295000
3,63414112.html,2,False,False,pre-owned,Stanningley,1.0,1.0,LS28,Pudsey,semi_detached,NaN,0.1,0.2,"'Situated within a superb corner plot, tucked ...",'',235000
4,62822840.html,5,False,False,pre-owned,Guiseley,4.0,5.0,LS20,Leeds,end_terrace,freehold,0.1,0.3,Summary A great opportunity for investors and ...,'Great investment oppportunity + Unique &amp; ...,350000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5609 entries, 0 to 5608
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   filename            5609 non-null   object
 1   rooms               5609 non-null   int64
 2   isRetirementHome    5609 non-null   bool
 3   isSharedOwnership   5609 non-null   bool
 4   listingCondition    5609 non-null   object
 5   location            5609 non-null   object
 6   numBaths            5352 non-null   float64
 7   numRecepts          5257 non-null   float64
 8   outcode             5609 non-null   object
 9   postTownName        5496 non-null   object
 10  propertyType        5464 non-null   object
 11  tenure              4494 non-null   object
 12  ditsnace_to_school  5609 non-null   float64
 13  ditsnace_to_train   5609 non-null   float64
 14  text_description    5609 non-null   object
 15  features            5609 non-null   object
 16  price               5609 non-null   int64
dtypes: bool(2), float64(4), int64(2), object(9)
memory usage: 668.4+ KB

### Convert the datatypes for "numBaths" and "numRecepts" from float to int64 because number of bathrooms and receptions cannot be float

In [6]:
df['numBaths'] = df['numBaths'].astype('Int64')
df['numRecepts'] = df['numRecepts'].astype('Int64')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5609 entries, 0 to 5608
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   filename            5609 non-null   object
 1   rooms               5609 non-null   int64
 2   isRetirementHome    5609 non-null   bool
 3   isSharedOwnership   5609 non-null   bool
 4   listingCondition    5609 non-null   object
 5   location            5609 non-null   object
 6   numBaths            5352 non-null   Int64
 7   numRecepts          5257 non-null   Int64
 8   outcode             5609 non-null   object
 9   postTownName        5496 non-null   object
 10  propertyType        5464 non-null   object
 11  tenure              4494 non-null   object
 12  ditsnace_to_school  5609 non-null   float64
 13  ditsnace_to_train   5609 non-null   float64
 14  text_description    5609 non-null   object
 15  features            5609 non-null   object
 16  price               5609 non-null   int64
dtypes: Int64(2), bool(2), float64(2), int64(2), object(9)
memory usage: 679.3+ KB

In [8]:
df.describe()

,rooms,numBaths,numRecepts,ditsnace_to_school,ditsnace_to_train,price
count,5609.000000,5352.0,5257.0,5609.000000,5609.000000,5.609000e+03
mean,2.948832,1.534006,1.524824,0.259832,0.448975,2.808081e+05
std,1.201692,0.788846,0.74625,0.165293,0.257144,2.114629e+05
min,1.000000,1.0,1.0,0.000000,0.000000,3.500000e+03
25%,2.000000,1.0,1.0,0.100000,0.300000,1.450000e+05
50%,3.000000,1.0,1.0,0.200000,0.400000,2.300000e+05
75%,4.000000,2.0,2.0,0.300000,0.500000,3.599950e+05
max,6.000000,7.0,8.0,1.700000,2.200000,4.000000e+06

### check for duplicates and missing values (NaN, None or other null values)

In [9]:
df.duplicated().any()

np.False_

In [10]:
df.isna().sum()

filename                 0
rooms                    0
isRetirementHome         0
isSharedOwnership        0
listingCondition         0
location                 0
numBaths               257
numRecepts             352
outcode                  0
postTownName           113
propertyType           145
tenure                1115
ditsnace_to_school       0
ditsnace_to_train        0
text_description         0
features                 0
price                    0
dtype: int64

As seen above, there are some missing values in numBaths, numRecepts, postTownName, propertyType and tenure.

In [11]:
unique_towns = df['postTownName'].unique()
print(unique_towns)

['Leeds' 'Huddersfield' 'Pudsey' nan 'Bradford' 'Bingley' 'Wakefield'
 'Ilkley' 'Otley' 'Keighley' 'Ossett' 'Normanton' 'Mirfield' 'Cleckheaton'
 'Holmfirth' 'Shipley' 'Halifax' 'Elland' 'Brighouse' 'Heckmondwike'
 'Batley' 'Sowerby Bridge' 'Dewsbury' 'Hebden Bridge' 'Todmorden'
 'Liversedge' 'Harrogate' 'Manchester']

# Feature engineering

### Feature creation: To create a new feature "MetBoroughs" from "outcode" that groups "location" into Metropolitan Boroughs

In [12]:
# Defining a function to map outcode prefixes to MetBoroughs

def map_outcode_to_metborough(outcode):
    if outcode.startswith("WF"):
        return "Wakefield"
    elif outcode.startswith("HD"):
        return "Kirklees"
    elif outcode.startswith("HX"):
        return "Calderdale"
    elif outcode.startswith("BD"):
        return "Bradford"
    elif outcode.startswith("LS"):
        return "Leeds"
    else:
        return None

In [13]:
 # Create the new column "MetBoroughs" using the apply function
df['MetBoroughs'] = df['outcode'].apply(map_outcode_to_metborough)

In [14]:
unique_metboroughs = df['MetBoroughs'].unique()
print(unique_metboroughs)

['Leeds' 'Kirklees' 'Bradford' 'Wakefield' 'Calderdale' None]

In [15]:
df_new = df[['filename', 'rooms', 'isRetirementHome', 'isSharedOwnership', 'listingCondition', 'location', 'numBaths', 'numRecepts', 'outcode', 'postTownName', 'MetBoroughs', 'propertyType', 'tenure', 'ditsnace_to_school', 'ditsnace_to_train', 'text_description', 'features', 'price']]

###Dropping features that are neither important nor relevant for the analysis.

The following features will be dropped: "filename","location", "outcode", "postTownName", "text_description", "features". Note that "postTownName", "location" and "outcode" are dropped because a new feature "MetBoroughs" has been created.

In [16]:
df_new = df_new.drop(['filename', 'location', 'outcode', 'postTownName', 'text_description', 'features'], axis=1)

In [17]:
df_new.head()

,rooms,isRetirementHome,isSharedOwnership,listingCondition,numBaths,numRecepts,MetBoroughs,propertyType,tenure,ditsnace_to_school,ditsnace_to_train,price
0,3,False,False,pre-owned,1,1,Leeds,detached,freehold,0.1,1.2,290000
1,1,False,False,pre-owned,1,1,Leeds,terraced,freehold,0.4,0.5,160000
2,4,False,False,pre-owned,3,2,Kirklees,detached,freehold,0.3,0.3,295000
3,2,False,False,pre-owned,1,1,Leeds,semi_detached,NaN,0.1,0.2,235000
4,5,False,False,pre-owned,4,5,Leeds,end_terrace,freehold,0.1,0.3,350000

### Handling Missing Values

First, I checked the proportion of missing values in the features with missing values to know how they will be handled (whether to be removed or replaced).

Having done that:
- I am going to drop the null values in "MetBoroughs" because they are insignificant.
- I am going to replace the nulls in "numBaths", "numRecepts", "property", and "tenure" as removing them will significantly affect the data size.

In [19]:
# Drop rows with null values in 'MetBoroughs'
df_new.dropna(subset=['MetBoroughs'], inplace=True)

In [ ]:
# Replace null values in 'numBaths' and 'numRecepts' with the median values
median_numBaths = df['numBaths'].median()
median_numRecepts = df['numRecepts'].median()
df_new['numBaths'].fillna(median_numBaths, inplace=True)
df_new['numRecepts'].fillna(median_numRecepts, inplace=True)

In [ ]:
# Replace null values in 'propertyType' with the mode

mode_propertyType = df_new['propertyType'].mode()[0]
df_new['propertyType'].fillna(mode_propertyType, inplace=True)

In [22]:
# Replace null values in 'tenure' based on the proportion. Calculate the proportions of each category.

tenure_proportions = df_new['tenure'].value_counts(normalize=True)
null_count = df_new['tenure'].isnull().sum()
null_replacements = np.random.choice(tenure_proportions.index, size=null_count, p=tenure_proportions.values)
df_new.loc[df_new['tenure'].isnull(), 'tenure'] = null_replacements

In [27]:
df_new.isna().sum()

rooms                 0
isRetirementHome      0
isSharedOwnership     0
listingCondition      0
numBaths              0
numRecepts            0
MetBoroughs           0
propertyType          0
tenure                0
ditsnace_to_school    0
ditsnace_to_train     0
price                 0
dtype: int64

In [29]:
df_new.to_csv("preprocessed_zoopla.csv", index=False)